.header-container {
  background-color: #f8f9fa;

  .container {
    .row {
      height: 70px;

      .logo {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }

      .text-smaller {
        font-size: 0.95rem;
      }

      .custom-card {
        position: absolute;
        z-index: 10;

        .card-body {
          position: relative;
          background-color: white;
          top: 15px;
          left: 25%;
        }
      }

      .custom-card-rank {
        position: absolute;
        z-index: 10;

        .card-rank {
          position: relative;
          background-color: white;
          top: 15px;
        }
      }

      .header-search {
        width: fit-content;
        // display: flex;
        margin: 0 auto;
        padding: 10px;
        border-radius: 25px;
        background: white;
        input {
          height: 30px;
          width: 90%;
          background: transparent;
          border: none;
          outline: none;
          // border: 1px solid red;
        }

        .input-group-text {
          padding: 0;
        }
        i {
          position: absolute;
          right: 15px;
          top: 17px;
          cursor: pointer;
        }
      }
    }
  }
}
