.containerfluid-5 {
  height: 700px;

  a {
    color: black;
  }
  a:hover {
    color: #b78a28;
    transition: color 0.3s ease;
  }

  p {
    font-weight: 350;
  }

  .container-5 {
    .content {
      hr {
        border: 1px solid #eee;
      }
      .complete {
        background-color: white;
        border-radius: 0.5rem 0 0 0.5rem;
        .title {
          height: 5%;
        }

        button {
          padding: 3px 6px;
          font-size: small;
          color: #b78a28 !important;
          border-color: #b78a28;
        }
        :hover {
          background-color: inherit !important;
        }
        .card {
          border: 0;
          border-radius: 0;

          .no-gutters {
            height: 170px;
            width: 333px;

            .img-component {
              width: 85%;
              height: 70%;
              position: relative;
              top: 12%;
              left: 15%;
            }

            .text-component {
              font-size: 0.9rem;
              text-decoration: none;
            }

            p {
              font-size: 0.8rem;
              border: none;
            }

            .button-card {
              font-size: xx-small;
              float: right;
              padding: 3px 6px;
              color: #b78a28 !important;
              border-color: #b78a28;
            }
            :hover {
              background-color: inherit !important;
            }
          }
        }
      }

      .new-post {
        background-color: #f7f5f0;
        padding: 20px;
        border-radius: 10px;
        .title-post {
          height: 5%;
        }
      }
    }
  }
}
