.container-2 {
  height: 600px;
  .update {
    .table {
      tr {
        font-size: 0.8rem;
      }
      th {
        text-decoration: none;
      }
      a {
        color: black;
      }
    }
    .update-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        color: #b78a28 !important;
      }
      :hover {
        background-color: inherit !important;
      }

      h5 {
        margin: 0;
      }
    }

    hr {
      border: 1px solid #eee;
    }
  }
}
